---
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <section class="bg-body">
    <div class="container px-6 w-full mx-auto">
        <div class="text-center flex flex-col justify-center items-center h-screen">
            <h1 class="mb-4 text-6xl font-bold lg:text-9xl text-primary">404</h1>
            <p class="mb-4 text-2xl tracking-tight font-bold text-heading md:text-4xl">Something's missing.</p>
            <p class="mb-4 font-light text-muted">Sorry, we can't find that page. You'll find lots to explore on the home page. </p>
            <a href="/">
                <button class="inline-flex text-surface bg-primary hover:bg-primary-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center my-4" aria-label="buttonerror">Back to Homepage</button>
            </a>
        </div>   
    </div>
</section>
</Layout>